.listOfCompaniesBox {
    display: block;

    width: 20rem;
    margin: 20rem auto;

    color: var(--color-primary);
    font-size: 1rem;

    border: 1px solid var(--color-primary);
    border-radius: var(--radius);
}