.home__footer {
    width: 100%;
    margin-bottom: -1rem;
    border-radius: var(--radius) var(--radius) 0 0; 
    background-color: var(--color-secondary);
}

.home__footer-box {
    margin: 2rem auto;
}

.home__footer-box > a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    cursor: pointer;
    text-decoration: none;
    color: var(--color-white);
    transition: color 0.3s;
}

.home__footer-box > a:hover {
    color: var(--color-green);
}

.home__footer-box > section:last-child {
    padding: 0.5rem 0 0;
    margin-bottom: -1rem;
    font-size: 0.8rem;
}