.login {
    cursor: pointer;
}

.LogOut__user-email {
    font-size: 1rem;
}

@media screen and (max-width: 560px) {
    .LogOut__user-email {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 330px) {
    .LogOut__user-email {
        display: none;
    }
}