@keyframes Opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.window__body {
    display: flex;
    flex-direction: column;
    justify-self: center;

    width: 100%;
    padding-bottom: 1rem;
    margin: 0.5rem;

    border: 1px solid var(--color-third);
    border-radius: var(--radius);

    animation-name: Opacity;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: inherit;
}

.window__body-title {
    padding: 0.3rem;

    text-align: center;
    font-size: 0.8rem;
    color: var(--color-white);

    background-color: var(--color-primary);
}

.window__body-content {
    display: flex;
    justify-content: center;
    align-items: baseline;

    padding: 1rem 1rem 0;

    color: var(--color-primary);
    font-size: 1rem;
}