.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;

    font-size: 1rem;
    font-weight: 500;

    animation-name: Opacity;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: inherit;
}

.header__nav-link {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 2rem;

    cursor: pointer;
    text-decoration: none;

    color: var(--color-white);

    transition: color 0.3s;
}

@media screen and (max-width: 350px) {
    .header__nav-link {
        padding: 0 0.5rem;
    }
}

.header__nav-link:hover {
    color: var(--color-green);
}

.icon {
    font-size: 2rem;
}
@media screen and (max-width: 560px) {
    .header_nav-name {
        display: none;
    }
}