@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: var(--header-height);

    background-color: var(--color-primary);

    scroll-behavior: smooth;
    scrollbar-gutter: both-edges;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    height: 1.75rem;
    padding: 0 3rem;

    font-family: 'PT Serif', serif;;
    font-size: 1.75rem;
    color: var(--color-white);

    transition: color 0.3s;
}

@media screen and (max-width: 911px) {
    .logo {   
        display: none;
    }
}

.logo:hover {
    color: var(--color-green);
}