.table {
    width: 100%;
    margin: 0 1rem;

    border: 2px solid var(--color-third);
    border-radius: var(--radius);
}

.thead {
    font-size: 1rem;
    color: var(--color-secondary);
    padding: 0.25rem 0.75rem;

    text-align: center;
    background-color: var(--color-white);
}

.col {
    padding: 0.25rem 0.75rem;

    text-align: center;
    color: var(--color-primary);

    border-bottom: 1px solid var(--color-white);
}

.col:nth-col(odd) {
    background-color: #FFFFFF;
}

.col-lp {
    width: 5%;
}

.col-data {
    width: 15%;
}

.col-summary {
    width: 15%;
}

.col-total {
    width: 20%;

    font-size: 0.95rem;
}

.col-suggestions {
    width: 35%;
}

.col-options {
    width: 10%;
}

.edit-icon {
    cursor: pointer;
    height: 1rem;
}

.edit-icon:hover {
    color: var(--color-green)
}

.delete-icon {
    cursor: pointer;
    height: 1rem;
}

.delete-icon:hover {
    color: var(--color-accent)
}