.new {
    display: flex;
    font-size: 0.8rem;
}

.new__label {
    display: flex;
    flex-direction: column;

    text-align: center;
}

.new__label input {
    color: var(--color-accent);
}

.new__label > input:nth-child(1) {
    width: 8rem;
    margin-left: 1rem;
}

@media screen and (max-width: 910px) {
    .new__label > input:nth-child(1) {
        padding: 0.3rem;
    }
}

.bottom-margin {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}