@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --color-primary: #6C86B1;
  --color-secondary: #3F4756;
  --color-third: #A3ABBD;
  --color-bonus: #B07483;
  --color-accent: #7A4351;
  --color-green: #80CF82;
  --color-green-light: #DAF9D8;
  --color-white: #EEF4F5;
  --header-height: 3.5rem;
  --radius: 5px;
  --font: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 0 auto;
  max-width: 57rem;
}

.mainOptionBtn {
  display: flex;
  justify-content: center;
  width: 18rem;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--color-primary);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--color-primary) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.symbol {
  cursor: pointer;
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  filter: 
      invert(100%) 
      sepia(0%) 
      saturate(0%) 
      hue-rotate(102deg) 
      brightness(107%) 
      contrast(100%);
}

.symbol__logout {
  background-image: url('../public/assets/logout.png');
}

.symbol__login {
  background-image: url('../public/assets/login.png');
}

.symbol__home {
  background-image: url('../public/assets/home.png');
}

.symbol__app_registration {
  background-image: url('../public/assets/app_registration.png');
}

.symbol__linkedin {
  background-image: url('../public/assets/linkedin.svg');
}

.symbol__gitHub {
  background-image: url('../public/assets/github.svg');
}

