@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: var(--header-height);

    background-color: var(--color-primary);
    box-shadow: 0 1px 2px var(--color-secondary);

    scroll-behavior: smooth;
    scrollbar-gutter: both-edges;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    height: 1.75rem;
    padding: 0 3rem;

    font-family: 'PT Serif', serif;;
    font-size: 1.75rem;
    color: var(--color-white);

    transition: color 0.3s;
}

.logo:hover {
    color: var(--color-green);
}